{% extends 'base.html' %}

{% block title %}
About{% endblock title %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nimble</title>
</head>
<body>
    Journey of NIMBLE is very much analogous to growth of a tree, which grow day by day, moment by moment with the only objective to produce sweet fruits and provide shade in scorching hot summer. This whole process starts with sowing of a seed then intense care and nourishment until it become a self sustaining system capable enough to fulfill its objective.
Likewise NIMBLE got started with small pious idea of serving people, with the span of time individual with similar ideology started getting glued and it became a big group. Seeing the positive reflection of every action, we realized to orient this initiative towards the mainstream. In order to increase the radius of our service, we got it affiliated by the government in the year 2012.
Since then nimblites are trying to make NIMBLE a self sustaining system, so that we can eradicate the system of reliability on donation, rather, introduce a system which is self sustained which can provide employment and raise the basic standard of life of a lay man.
Towards this thought we took some initiative and opened a sister company of Nimble, which is known as Nimble –“Wings To Your Dream”. In this we connect different skill across nation and provide them common platform. Under the flagship of NIMBLE they produce and share their skill and grow hand in hand.
Vision of NIMBLE is to emerge as a giant industry in several vertical with the only objective to serve humanity.  


</body>
</html>
{% endblock body %}